<div class="center hero-unit">
  <h1>India Payroll</h1>

  <h2>
    This is INdia Payroll Application
  </h2>

  <%= link_to "Click Here To signin ", 'signin', :class=> "btn btn-large btn-primary" %>
</div>

